@media (max-width: 576px) {
    .row.mb-3.align-items-center .col {
        margin-bottom: 0.5rem;
    }
}

.table-responsive {
    overflow-x: auto;
}

th,
td {
    vertical-align: middle;
}

td:nth-child(1) {
    width: 45%;
}

td:nth-child(2) {
    width: 25%;
}

td:nth-child(3) {
    width: 15%;
}

td:nth-child(4) {
    width: 15%;
}